#logos {
    @include grid;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    z-index: 2;

    @include mobile {
        padding: 0.5rem;
    }

    img {
        margin: 0 0.5rem 0 0.5rem;
        width: auto;
        height: 7rem;
        @include mobile {
            height: 5rem;
        }
    }
}

#imprint-menu {
    @include grid;
    padding: 3rem 0 6rem 0;
    position: relative;
    z-index: 10000;
        
    .imprint-item {
        @include col-2;
        @include mono-s;
        text-align: center;
    }
}